<% if flash[:alert] %>
  <div class="row mt-3">
    <div class="col">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Non esiste un utente con questa combinazione</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
    </div>
  </div >
<% end %>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class=" col-md-6 col-xl-5 p-3 d-none d-md-block ">
        <%= image_tag("classroom.png", class: "img-fluid") %>
      </div>
      <div class=" col-md-6 col-xl-4 offset-xl-1">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <% if resource.errors.any? %>
            <div class="row">
              <div class="col">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong> Errore nell'accesso</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                  </button>
                </div>
              </div>
            </div >
          <% end %>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-center">
            <p class="lead fw-normal mb-0 me-3">Entra con </p>
            <button type="button" class="btn  btn-floating mx-1">
              <%=link_to "",user_google_oauth2_omniauth_authorize_path, class: 'bi bi-google', method: :post%>
            </button>
          </div>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">O</p>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "Email" %>
          </div>
          <!-- Password input -->
          <div class="form-outline mb-3">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control form-control-lg"  %>
          </div>
          <div class="d-flex justify-content-end align-items-center">
            <!-- Checkbox -->
          </div>
          <div class="text-center text-lg-center mt-0 pt-2">
            <%= f.submit "Entra", class: "btn darkG  btn-lg", style: "padding-left: 2.5rem; padding-right: 2.5rem;"%>
            <p class="small fw-bold mt-2 pt-1 mb-0"><%= render "users/shared/links" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
