<div class="px-4 py-5 my-2 text-center">
  <% if !user_signed_in? or (user_signed_in? and !current_user.has_role? :admin and !current_user.has_role? :teacher) %>
    <h1 class="display-5 fw-bold">I nostri fantastici insegnanti</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Questi sono i nostri insegnanti, ognuno può aiutarti nelle materie che vedi nella sua scheda. Per iniziare un corso con lui, clicca sul suo nome e poi mandagli un messaggio!</p>
    </div>
  <% else %>
    <h1 class="display-5 fw-bold">Elenco degli insegnanti</h1>
  <% end %>
</div>
<%= form_tag(users_path, method: :get) do %>
  <div class="row  border-light justify-content-center">
    <div class="col-7 mb-2 col-md-6"><%= text_field_tag :search, params[:search], class: "form-control "%></div>
    <div class="col-7 col-md-4 text-center"><%= submit_tag "Cerca tramite CAP", class: "btn bg-warning" %></div>
  </div>
<% end %>
<% if !@usersR.empty? %>
  <div class="text-center">
    <iframe
  class = "mx-auto"
  width="333"
  height="250"
  loading="lazy"
  
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['API_KEYM'] %>
    &q=<%= @cap %>
    &zoom=12">
    </iframe>
  </div>
<% end %>
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 mt-5">
  <% @users.each do |utente| %>
    <% if @usersR.include? utente%>
      <div class="col mb-3">
        <div class="card bg-warning border-dark h-100">
          <div class="card-header text-center"><%= link_to utente.nome, utente %></div>
          <div class="row g-0">
            <div class="col-6">
              <% if utente.avatar.attached? %>
                <%= image_tag(utente.avatar_thumbnail, class: " rounded-start p-2") %>
              <% else %>
                <%= image_tag("user.png", class: " rounded-start p-2", height: "120", widht: "120") %>
              <% end %>
            </div>
            <div class="col-6">
              <div class="card-body">
                <% utente.subjects.each do |materia| %>
                  <ul class="list-group">
                    <li class="">
                      <%=link_to materia.name, materia%>
                    </li>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="card-footer text-center">
              <% if utente.media != nil %>
                Valutazione media: <%= utente.media %>
              <% else %>
                Nessuna recensione
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <% if utente.has_role? :teacher %>
        <div class="col mb-3">
          <div class="card border-dark h-100">
            <div class="card-header text-center"><%= link_to utente.nome, utente %>
            </div>
            <div class="row g-0">
              <div class="col-6">
                <% if utente.avatar.attached? %>
                  <%= image_tag(utente.avatar_thumbnail, class: " rounded-start p-2") %>
                <% else %>
                  <%= image_tag("user.png", class: " rounded-start p-2", height: "120", widht: "120") %>
                <% end %>
              </div>
              <div class="col-6">
                <div class="card-body">
                  <% utente.subjects.each do |materia| %>
                    <ul class="list-group">
                      <li class="">
                        <%=link_to materia.name, materia%>
                      </li>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <% if utente.media != nil %>
                Valutazione media: <%= utente.media %>
              <% else %>
                Nessuna recensione
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<% if user_signed_in? and current_user.has_role? :admin%>
  <div class= 'm-4 text-center'>
  <h1 class="display-5 fw-bold">Elenco degli studenti </h1>
    <ul class="list-group list-group-flush">
      <% @users.each do |user|%>
        <% if user.has_role? :student %>
          <li class="list-group-item"><%=link_to user.nome, user %> con email <%= user.email %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
