<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<% if current_user.has_role? :teacher %>
  <% if current_user.subjects.exists?(name: @subject.name) %>
    <%= link_to 'Smetti di Insegnare', noninsegna_materia_user_path%>
  <% else %>
  <%= link_to 'Insegna', insegna_materia_user_path(@subject.id)%>
  <% end %>
<% end %>
<%= link_to 'Users', user_view_path%>
<%= link_to 'Back', subjects_path %>
