<p id="notice"><%= notice %></p>
<header class="py-4 border-bottom mb-1 rounded">
  <div class="container" >
    <div class="text-center my-1">
      <h1 class="fw-bolder">I tuoi corsi</h1>
      <% if current_user.has_role? :teacher %>
                <p class="lead mb-0"> Qui puoi vedere i tuoi studenti e in che materia li stai aiutando.</p>
              <% else %>
                <p class="lead mb-0"> Qui puoi vedere i tuoi insegnanti e la materia che ripassi con loro.</p>
              <% end %>
      <p class="lead mb-0"></p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row justify-content-center card-deck mt-3">
    <% @courses.each do |course| %>
      <% if current_user.has_role? :admin or (current_user.has_role? :teacher and course.teacher == current_user ) or (current_user.has_role? :student and course.student == current_user )%>
        <div class="col-lg-3 col-md-3 col-5 m-2">
          <div class="card text-center bg-light border-dark " >
            <h5 class="card-header mt-2">
              <% if current_user.has_role? :teacher %>
                <%=link_to course.student.nome, course.student%>
              <% else %>
                <%= link_to course.teacher.nome, course.teacher %>
              <% end %>
            </h5>
            <div class="card-body ">
              <% if course.subject!= nil %>
                <h3 class="card-title text-center">
                  <%=course.subject.name%>
                </h3>
              <% else %>
                <p class="card-text text-danger"> Seleziona la materia del nuovo corso </p>
                <ul>
                  <% @subjects.each do |materia| %>
                    <%= materia.id%>
                    <li><%= link_to materia.name, aggiungi_materia_subject_path(course.id, materia.id) %></li>
                  <% end %>
                </ul>
              <% end %>
              <% if current_user.has_role? :teacher %>
                <div class="card-footer text-muted">
                  <%= link_to 'Elimina', course, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<% if current_user.has_role? :teacher %>
  <%= link_to 'New Course', new_course_path %>
<% end %>
