<h1>Inserisci la mail dello studente con cui inizierai un corso</h1>
<!--
<% @users.each do |utente| %>
  <% if current_user.has_role? :teacher and utente.has_role? :student%>
    <ul>
      <h5><%= utente.email %></h5>

      <%= link_to 'Inizia un corso', fa_corso_user_path(utente.id)%>
      
    </ul>
  <% end %>
<% end %>
-->
<%= form_tag(new_course_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag("Cerca") %>
<% end %>

<% @usersR.each do |utente| %>
  <% if current_user.has_role? :teacher and utente.has_role? :student %>
    <ul>
      <h5><%= utente.email %></h5>
      <%= link_to 'Inizia un corso', fa_corso_user_path(utente.id)%>
    </ul>
  <% end %>
<% end %>



<%= link_to 'Back', courses_path %>
